*{margin:0;}
article{
	display: inline-block;
}
body{
	background:lightgray;
	color:white;
	font-family:Arial;
	
font-size:16px;
	margin:0;
	text-shadow:1px 1px 0 rgba(0,0,0,.3);
}
nav ul{
	font-size:0;
	padding:0;
}
nav ul li{
	background:rgba(0,0,0,.5);

	display: inline-block;
	font-size:16px;
	height:50px;
	line-height:50px;
	padding:10px 0;
	vertical-align: top;
	
width:25%;
}
nav ul li:hover{
	background:rgba(0,0,0,.6);
}
nav ul li img {
	height:50px;
}
nav ul li a{
	color: #DDD;
	
display: block;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
.avatar,.personales{
	float: left;
}
.avatar img{
	
border:5px solid white;
	margin-left:30px;
}
#contenedor{
	background:gray;
	margin:0 auto;
	max-width:1000px;
}
#datos{
	border:10px solid black;
	
display: inline-block;
	padding:20px;
}
#datos a{
	color:whitesmoke;
}
#websites{
	font-size:0;
	text-align:center;
}
#websites article{
	background:#ccc;
	
border:2px solid lightgray;
	border-radius:5px;
	color: black;
	font-size:15px;
	margin:5px;
	padding:10px;
	
width:150px;
}
#websites img {
	
-webkit-transition:.2s;
}
#websites article:hover 
img{
	-webkit-transform:scale(1.1);
}
@media screen and (max-width:800px){
	
nav ul li {
		width:50%;
	}
	nav ul li img {
		
height:80%;
	}
}
@media screen and (max-width:480px){
	#datos{
		display: block;
		text-align:center;
	}
	
.avatar,.personales{
		float: none;
	}
	.avatar img {
		margin:10px 0;
	}
}
#titulo
{

	font-size:25.0pt;
	
	font-family:"Times New Roman","serif";
text-align: center 

  color: blue; 
	
}


/*-----------------caja de luz-----------------------------  */
#lightbox{	position: absolute;	
left: 0; width: 100%; 
z-index: 100; text-align: center; line-height: 0;
}
#lightbox 

img{ width: auto; height: auto;}
#lightbox 
a img{ border: none; }

#outerImageContainer{ 
position: relative; background-color: #fff; 
width: 250px; 
height: 250px; 
margin: 0 auto; 
}
#imageContainer{ padding: 10px; }

#loading{ position: absolute; 
top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; 

}
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10;

}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; 
background-image: url(data:image/gif;base64,AAAA); 

/* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover,
 #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover
 { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif;
 background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; 
}

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	

#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			


#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	



#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }
